FileUploadDemo.Client/Service References/FileUploadService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/FileUploadDemoServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FileUploadDemoServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/FileUploadDemoServer/FileUploadService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBlobFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BlobFileInfo" nillable="true" type="tns:BlobFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBlobFileInfo" nillable="true" type="tns:ArrayOfBlobFileInfo" />
  <xs:complexType name="BlobFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BlobFileId" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BlobFileInfo" nillable="true" type="tns:BlobFileInfo" />
</xs:schema>